{{#with blog}}
<div class="details-container">
  <div class="details-container-image">
    <img src="{{image}}" />
  </div>
  <div class="details-container-info">
    <h2>{{title}}</h2>
    <h3>{{category}}</h3>
    <h3>By: {{ownerEmail}}</h3>
    {{#if usersFollowing}}
    <h4>Follow By: {{listUsersFollowing}}</h4>
    {{else}}
    <h4>There are no followers yet!</h4>
    {{/if}}
  </div>
  <div class="details-container-content">
    <p>{{content}}</p>
  </div>
{{#if emailExists}}
  <div class="btn-container">
    {{#if isOwner}}
    <a href="/edit/{{_id}}">Edit</a>
    <a href="/delete/{{_id}}">Delete</a>
    {{else if usersFollowed}}
    <p class="follow-pub">You already follow this blog!</p>
    {{else}}
    <a href="/follow/{{_id}}">Follow</a>
    {{/if}}
  </div>
{{/if}}
</div>
{{/with}}